.help {
  font-size: 20px;
  background-color: #062659;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  cursor: default;
}
.help p {
  margin-left: 3px;
}
