.bubblesContainer {
  position: relative;
  width: 100%;
  height: 300px;
}
.bubbleContainer {
  position: absolute;
  bottom: 0;
  width: 195px;
  height: 190px;
  background: linear-gradient(160deg, rgba(0, 154, 239, 1) 0%, rgba(0, 100, 180, 1) 60%);/*rgb(0, 105, 188);*/
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* box-shadow: 10px 10px 30px -10px black; */
}
.largeTitle {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}
.smallerTitle {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1em;
}
.smallerTitleNumber {
  font-weight: 400;
}
.topTitle {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  text-align: center;
  margin-top: -20px;
}
.rightBubble {
  background-color: rgb(255, 118, 0);
  bottom: 67px;
  left: 165px;
  width: 150px;
  height: 145px;
  font-size: 11px;
  padding-top: 10px;
  background: linear-gradient(165deg, rgb(255, 150, 10) 0%, rgb(255, 118, 0) 60%);/*rgb(0, 105, 188);*/
}
@media print {
  .bubblesContainer {
    height: 400px;
  }
  .bubbleContainer {
    width: 130px;
    height: 126.666px;
    font-size: 13px;
  }
  .rightBubble {
    width: 100px;
    height: 94px;
    bottom: 67px;
    left: 107px;
    font-size: 7px;
    letter-spacing: 0px;
  }
}
