body {
  background-color: rgba(0, 0, 0, 0.2);
}
.navigation {
  padding-right: 50px;
  height: 100vh;
  background-color: white;
  width: 300px;
  display: block;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.header {
  font-size: 2em;
  margin-bottom: 80px;
}
.section {
  font-size: 0.5em;
}
.sub {
  margin-bottom: 25px;
  color: rgb(200, 200, 200);
  font-weight: normal;
  letter-spacing: 2px;
  margin-left: -45px;
}
.item {
  margin-bottom: 30px;
  letter-spacing: .4px;
}
.selected {
  font-weight: bold;
  letter-spacing: 0;
}
.selected::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  transform: translate(0, 6px);
  height: 2px;
  width: 30px;
  background-color: black;
}
